{% extends "header.html" %}

{% block content %}
    {% if whitelisted_username %}
        {% if valid %}
            <h2 style="color:#2dbd69">{{ whitelisted_username }} added to the whitelist</h2>
        {% else %}
            <h2 style="color:#bd2d34">Secret is incorrect</h2>
        {% endif %}
    {% endif %}

    <h1>Whitelist new user</h1>
    <form action="/register" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}